* {
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}


/* Style for button */

input {
	border: none;
	cursor:default;
	outline: none;
	margin:20px;
	z-index: 10;
}

.button {
	color:#6a646a;
	font-family: 'Cabin', sans-serif;
	font-size:2em;
	padding:10px 15px;
	text-align: center;
	background-color: #a5d9ea;
	cursor:pointer;
	border: 3px solid #6a646a;
	text-transform: uppercase;
	font-weight: 700;
}
 
.button:hover {
  	background-color: rgba(255, 255, 255, .6);
}

#myBtn { 
	position: relative;
	margin-left: auto;
	margin-right: auto; 
	width:50px;
	padding: 50px;
	z-index: 3;
}


/* Style for image */

.img-responsive {
	max-width: 100%;
	display: block;
	text-align: left;
	padding-bottom: 20px;
	display: block;
    height: auto;
}

/*.logo-info .img-responsive {
	max-width: 200px;
}*/

#newApproachImg {
	display: block;
	margin-left: auto;
	margin-right: auto; 
	background-color: #a5d9ea;     
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
	}

#newApproachImg.fade-out {
    opacity:0;
}

#newApproachImg.fade-in {
    opacity:1;
}


#statusQuoImg {            
	display: block;
	margin-left: auto;
	margin-right: auto; 
	background-color: #a5d9ea;   
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
}

#statusQuoImg.fade-in {
    opacity:1;
}

#statusQuoImg.fade-out
{
    opacity:0;
}


#statusQuoText
{            
	background-color: #A5D9EA;
	margin-left: 2%;
	margin-right: 5%;     
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
	z-index: 2;
}

#statusQuoText p { 
	font-size: 2.4em;
}

#statusQuoText.fade-in
{
    opacity:1;
}

#statusQuoText.fade-out
{
    opacity:0;
}


#newApproachText
{            
	background-color: #A5D9EA;
	margin-left: 2%;
	margin-right: 5%;     
	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
	z-index: 1;
	opacity: 0;
}

#newApproachText p { 
	font-size: 2.4em;
}

#newApproachText.fade-in
{
    opacity:1;
}

#newApproachText.fade-out
{
    opacity:0;
}


/*General Layout*/

body {
	background-color: #404041;
}


header {
	height: 100px;
	background-color: #a5d9ea;
}

footer {
	height: 50px;
	background-color: #404041;
	padding: 40px 0;
}

.sky {
	background-color: #a5d9ea;
}

header {
/*	background-color: #404041;*/
	text-align: center;
}

.jumbotron {
	background-color: #a5d9ea;
	padding: auto 3%;
	height: 100vh;
/*	font-size: 62.5%;*/
}

.container {
	position: relative;
	right-align: auto;
	left-align: auto;
	max-width:1000px;
	font-size: 62.5%;
}

.logo-info {
  padding:5px 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}

.sky {
  	background: #A5D9EA;
	position: relative;
	height: auto;
	}

.button-background {
	background: #A5D9EA;
	position: relative;
	height: auto;
	font-size: 62.5%;
}

.sky .container {
	background: #A5D9EA;
	position: relative;
	}

.ground {
  	background: #404041;
}

.ground h3 {
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	font-family: 'Arvo', serif;
	font-size: 3em;
	margin: 0px 50px 0px 50px;	
}

.copyright {
	font-size: 12px;
	opacity: .5;
	background-color: #41414D;
	color: #fff;
}

/*Text Styles*/

p {
	color: #6a646a;
	background-color: #A5D9EA;
	font-family: 'Cabin', sans-serif;
	font-size: 2em;
	margin: 0px 0;
	padding: 0;
}

.jumbotron p {
	color: #6a646a;
	text-align: center;
	font-family: 'Cabin', sans-serif;
	margin: 25px 0;	
	z-index: 2;
} 

ul.white, p.white {
	color: #ffffff;
	font-family: 'Cabin', sans-serif;
	font-size: 2em;
	margin: 50px 50px 50px 0px;
	background-color: #404041;
	text-align: left;
	margin: 10px 0 10px 0;
}

/*.body p {
	color: #6a646a;
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	margin: 0px 50px 0px 50px;
	}
*/
.logo-info p {
	color: #fff;
	background-color: #404041;
	font-size: 2em;
}

	
header p {
	color: #fff;
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-size: 1.5em;
	padding: 20px 0 0px 0px;
	margin:0;
	font-weight: 300;
	}
	
h1	{
	color: #6a646a;
	text-align: center;
	font-family: 'Sanchez', serif;
	font-weight: 700;
	font-size: 5.4em;
	padding: 60px 0 20px 0;
	z-index: 2;
}

h2 {
	color: #6a646a;
	text-align: center;
	font-family: 'Sanchez', serif;
	font-size: 3em;
	margin: 25px 50px 0px 50px;
}

h3 {
	color: #6a646a;
	background-color: #A5D9EA;
	text-align: center;
	font-weight: 700;
	font-family: 'Sanchez', serif;
	font-size: 3em;
	margin: 10px 50px 0px 50px;	
}


h4 {
	color: #6a646a;
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
	font-size: 3em;
	margin: 5px 0;
}

.logo-info h4 {
	color: #fff;
	text-align: left;
	font-size: 2.6em;
	padding: 0;
}
	
h5 {
	color: #ffffff;
	text-align: left;
	font-weight: 700;
	font-family: 'Sanchez', serif;
	font-size: 3em;
	padding: 50px 0px 10px 0px;	
}
	
h6 {
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	font-family: 'Sanchez', serif;
	font-size: 1.5em;
	padding: 50px 50px 50px 50px;	
}

.logo-info a {
	color: #fff;
	text-decoration: none;
}


.logo-info p a {
	color: #fff;
	opacity: .5;
	cursor: pointer;
	text-decoration: none;
	padding-right:5px;
}

.logo-info p a:hover {
	opacity: 1;
}

.sky li {
	display: inline;
	}

.fa {
	font-size: 1.6em;
}


/*Navigation */

nav {
	background-color: #a5d9ea;
	height:100px;
	}


/*nav a {
    width:20%;
	color: #ffffff;
    text-align:center;
    display:inline-block;
    padding-bottom: 10px;
    margin-top: 10px;
    background: #a5d9ea;
	font-family: 'Cabin', sans-serif;             
	}*/

nav img {
	max-height: 40px;
	width: auto;
	display:inline-block;
	margin: 10px;
}

/*nav a:hover img { 
    opacity: 1;
}
*/

hr {
	color: #fff;
	opacity: 0;
}

@media (max-width: 646px) {
    header {
    display: none;
	}
	h1 {
	padding-top: 75px;
	}
}

@media (max-width: 990px) {
	hr {
	opacity:.4;
	}
}


@media screen and (orientation: portrait) and (max-device-width: 768px) {
	.jumbotron p, h4 {
		font-size: 5em;
	}
	h1 {
		font-size: 2em;
	}

}



/*.jumotron h1 {
	position: absolute;
	text-align: center;
	color: #6a646a;
	font-family: 'Arvo', serif;
	font-weight: 700;
	font-size: 50px;
	text-shadow: 3px 3px #ffffff;
	margin: 200px 10px;
	z-index: 2
	}*/

	

	
/* Arrow Bounce */

.cont {
	position: relative;
	left-align: auto;
	right-align: auto;
    height:2em;
    margin: 40px 0;
}

.arrow {
	position: relative;
	left-align: auto;
	right-align: auto;
    top:1em;
    margin: 40px 0 40px 0;
}

.bounce {
 -webkit-animation-name: bounce;
 -moz-animation-name: bounce;
 -webkit-animation-duration: 0.5s;
 -moz-animation-duration: 0.5s;
 -webkit-animation-iteration-count: infinite;
 -moz-animation-iteration-count: infinite;
 -webkit-animation-direction: alternate;
 -moz-animation-direction: alternate;
 -webkit-animation-timing-function: eaze-in-out;
 -moz-animation-timing-function: eaze-in-out;
 }
 
 
 @-webkit-keyframes bounce {
  from { top: 1em; }
  to { top: 2em; }
 }

@-moz-keyframes bounce {
  from { top: 1em; }
  to { top: 2em; }
}


